# data
data/*
!data/_keep

# downloads
opt/
!opt/_keep

# python virtual environments
.venv*

# pytest
.pytest_cache/

# spark binaries
spark-*-bin-hadoop2.7

# spark generated folders and files
metastore_db
derby.log
spark-warehouse

# jupyter notebooks
**/.ipynb_checkpoints

# IDE generated stuff
.idea
*.iml
.vscode

# java projects
.classpath
.project
.settings/

# python projects
__pycache__

# GCP credentials
twsg-data-eng-bootcamp*.json 
