# data
data/*
!data/_keep

# python virtual environments
.venv*

# spark binaries
spark-*-bin-hadoop2.7
spark-*-bin-hadoop2.7.tgz

# spark generated folders and files
metastore_db
derby.log
spark-warehouse

# jupyter notebooks
**/.ipynb_checkpoints

.idea
*.iml
